<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atalasoft.dotImage.Jpeg2000.x86" version="11.0.0.8478" targetFramework="net45" />
  <package id="Atalasoft.dotImage.Lib.x86" version="11.0.0.8478" targetFramework="net45" />
  <package id="Atalasoft.dotImage.x86" version="11.0.0.8478" targetFramework="net45" />
  <package id="Atalasoft.Shared" version="11.0.0.8478" targetFramework="net45" />
  <package id="BitMiracle.Jpeg2000.Net" version="1.0.708" targetFramework="net45" />
  <package id="CSJ2K" version="2.0.0.1" targetFramework="net45" />
  <package id="FreeImage-dotnet-core" version="4.3.6" targetFramework="net45" />
  <package id="Leadtools.Async.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.Bmp.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.Cmp.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.Cmw.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.Fax.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.Gif.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.J2k.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.Jb2.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.Jbg.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.Png.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.Raw.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Codecs.Tif.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.ColorConversion.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Drawing.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Drawing.MP.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Formats.Raster.Common.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Image.Processing.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.Color.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.Core.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.Effects.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.Kernel.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.SpecialEffects.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.ImageProcessing.Utilities.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Jpeg2000" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Jpeg2000.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Jpeg2000.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Kernel.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Svg.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
  <package id="Leadtools.Vector.dll.NETFramework" version="20.0.0.3" targetFramework="net45" />
</packages>